@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
}
html {
  height: 100%;
}
body{
  background: #FAFAFA;
  min-height: 100%;
  margin: 0;
}

/* NAV BAR DESIGN */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 10px;
  display: none;
  position: absolute;
  background-color: #FFB74D;
  min-width: 160px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
}

.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F57C00;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
  
nav{
  display: flex;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  align-items: center;
}
.politico-letter{
  margin: 0 25px 0 30px;
  font-size: 40px;
}
.link-container-2{
  padding-left: 10px;
  flex: 1;
}
.link-container-3{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

/* COLOR DESIGN */
.text-color-design-primary{
  color: #F57C00;
}
.text-color-design-secondary{
  color: #FFFFFF;
}
.background-color-design{
  background: #FFB74D;
}

/* INPUT DESIGN */
.input-design{
  padding: 10px;
  margin: 10px;
  border: 2px solid #FFB74D;
  border-radius: 5px;
  outline-width: 0;
  width: 200px;
}

.input-design:focus{
  border: 2px solid #F57C00;
}

/* BUTTON DESIGN */
.button-design{
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  background-color: #FFB74D;
  outline-width: 0;
  border: 2px solid #FFB74D;
  border-radius: 7px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-design-edit{
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  background-color: #FFF176;
  outline-width: 0;
  border: 2px solid #FFF176;
  border-radius: 7px;
  color: #000000;
  cursor: pointer;
}

.button-design-delete{
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  background-color: #E57373;
  outline-width: 0;
  border: 2px solid #E57373;
  border-radius: 7px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-design:active{
  border: 2px solid #F57C00;
  background-color: #F57C00;
}

.button-design-edit:active{
  border: 2px solid #FBC02D;
  background-color: #FBC02D;
}

.button-design-delete:active{
  border: 2px solid #D32F2F;
  background-color: #D32F2F;
}

.button-design-secondary{
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  background-color: #FFFFFF;
  outline-width: 0;
  border: 2px solid #FFFFFF;
  color: #000000;
  border-radius: 7px;
  cursor: pointer;
}

.button-design-secondary:active{
  border: 2px solid #F57C00;
  background-color: #F57C00;
  color: #FFFFFF;
}

/* CARD DESIGN */
.card-design{
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #FFFFFF;
  border-radius: 7px;
}

/* <a> TAG DESIGN */
.a-tag-nav{
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 15px;;
}

/* PROFILE IMAGE DESIGN */
.profile-image-icon-small{
  width: 45px;
  border-radius: 100%;
  padding: 0 10px;
}

/* ALERT */
#alert{
  padding: 20px 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: #FBC02D;
}
#alert2{
  top: 65px;
}
#loader{
  height: 20px;
  width: 20px;
  background-color: #F57C00;
  margin: auto;
  -webkit-animation: rotation 1s infinite linear;
}

#alertMessage{
  color: #FFFFFF
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}