/* GLOBAL */
.main-container{
  max-width: 900px;
  padding: 10px;
  margin: auto;
  justify-content: center;
}
/* INDEX STYLE */
.candidate-holder-index{
  display: flex;
  flex-wrap: wrap;
}
.candidate-index{
  padding: 10px;
  flex-grow: 0;
  flex-basis: 222px;
  flex-shrink: 0;
  display: flex;
}
.candidate-profile-image-index{
  width: 60px;
  margin-right: 5px;
  height: 60px;
  background-size: cover;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: center;
}
.candidate-info-index{
  flex: 2;
}
.vote-for-candidate-index{
  flex: 2;
}