@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
}
html {
  height: 100%;
}
body{
  background: #FAFAFA;
  min-height: 100%;
  margin: 0;
}


/* COLOR DESIGN */
.text-color-design-primary{
  color: #F57C00;
}
.text-color-design-secondary{
  color: #FFFFFF;
}
.background-color-design{
  background: #FFB74D;
}

/* INPUT DESIGN */
.input-design{
  padding: 10px;
  margin: 10px;
  border: 2px solid #FFB74D;
  border-radius: 5px;
  outline-width: 0;
}

.input-design:focus{
  border: 2px solid #F57C00;
}

/* BUTTON DESIGN */
.button-design{
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  background-color: #FFB74D;
  outline-width: 0;
  border: 2px solid #FFB74D;
  border-radius: 7px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-design:active{
  border: 2px solid #F57C00;
  background-color: #F57C00;
}

.button-design-secondary{
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  background-color: #FFFFFF;
  outline-width: 0;
  border: 2px solid #FFFFFF;
  color: #000000;
  border-radius: 7px;
  cursor: pointer;
}

.button-design-secondary:active{
  border: 2px solid #F57C00;
  background-color: #F57C00;
  color: #FFFFFF;
}

/* CARD DESIGN */
.card-design{
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #FFFFFF;
  border-radius: 7px;
}

/* <a> TAG DESIGN */
.a-tag-nav{
  text-decoration: none;
  color: #FFFFFF;
}

/* PROFILE IMAGE DESIGN */
.profile-image-icon-small{
  width: 45px;
  border-radius: 100%;
  padding: 0 10px;
}